<h1>Words and Expressions</h1>

<p>Save the words or the expression you need to learn.</p>

<form class="form-inline"  (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="wordExpression">Word / Expression</label>
        <input type="text" class="form-control" placeholder="Example input" name="wordExpression" id="wordExpression"  />
    </div>
    <div class="form-group">
        <label for="meanning">Meaning</label>
        <input type="text" class="form-control" placeholder="Another input" name="meanning" id="meanning" />
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" value="Send">
    </div>
</form>
<br />
<div>
    <p *ngIf="wordExpresions.length == 0"><em>Loading...</em></p>

    <table class="table" *ngIf="wordExpresions.length > 0">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Word</th>
                <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let we of wordExpresions">
                <td>{{ we.topic }}</td>
                <td>{{ we.word }}</td>
                <td>{{ we.meaning }}</td>
            </tr>
        </tbody>
    </table>
</div>